__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
eggs/
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.python-version
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.ropeproject
.mr.developer.cfg
.project
.pydevproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pytest_cache/
pytestdebug.log
