absl-py
attrs
certifi
cycler
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
Pillow
protobuf
pyparsing
python-dateutil
six

--extra-index-url=https://packagecloud.io/github/git-lfs/pypi/simple
